body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

header {
	width: 100%;
}


ul {
	list-style: none;
}

#nav_bar {
    width: 100%;
    float: center;
    margin-left: 40px;
    vertical-align: top;
	background-color: #FFFFFF;
}

#nav_bar li {
    display: inline-block;
    padding: 8px;
}

.nav-links {
    color: #404040;
}

.nav-home {
    color: blue;
    font-size: 200%;
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

li.nav-links a:hover {
    text-decoration: underline;
}

div.contentbasic {
	background-color: #FAFAD2;
	padding: 20px 40px 20px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.contentsocial {
	padding: 20px 40px 20px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.hub1 {
	background-color: #8FBC8F;
	padding: 20px 40px 20px 40px;
	border: 20px;
	border-style: solid;
	border-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.dragdrop1 {
	background-color: #8FBC8F;
	padding: 20px 40px 20px 40px;
	border: 20px;
	border-style: solid;
	border-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}


div.dragdrop2 {
	background-color: #8FBC8F;
	padding: 20px 40px 20px 40px;
	border: 20px;
	border-style: solid;
	border-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.dragdrop3 {
	background-color: #8FBC8F;
	padding: 20px 40px 20px 40px;
	border: 20px;
	border-style: solid;
	border-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.gallery img {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content:flex-start;
}


button.cta {
	padding: 9px 25px;
	background-color: #C8A2C8; 
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: #228B22;
}



